.logo{
  &-topbar{
    width: auto;
    height: 36px;
    max-height: 36px;
  }
  &-icon{
    width: 64px;
    max-width: 64px;
    height: auto;
  }
  &-alt{
    width: 128px;
    max-width: 128px;
    height: auto;
  }
}
