// Multi-bar Top Bar.
.multi-bar{
  // box-shadow: 0 4px 8px rgba(0,0,0,0.25);

  // Top Bar
  .top-bar{
    padding: 1.75rem;
    transition: all .2s ease;
  }
  // All Top Bars Except the last.
  .top-bar:not(:last-child){
    padding: 1rem;
    background: lighten(#E6E6E6, 3.5%);
  }
  .is-stuck .top-bar{
    padding: 0.75rem;
    transition: all .2s ease;
    @media screen and (min-width: 40em) {
      padding-right: 84px;
      padding-left: 156px;
    }
  }
  // Data sticky.
  [data-sticky]{
    width: 100%;
  }
  // logo
  .logo{
    &-landscape{
      width: auto;
      height: 22px;
      max-height: 22px;
    }
    &-portrait{
      width: auto;
      height: 32px;
      max-height: 32px;
    }
  }
  // Floats.
  @media screen and (max-width: 430px) {
    .pull-left-for-small-only{
      float: left !important;
    }
  }
  // Mobile menu toggle
  #responsive-menu-toggle{
    background: lighten(#E6E6E6, 3.5%);
    // box-shadow: 0 4px 8px rgba(0,0,0,0.25);
    .top-bar-title{
      width: 100%;
    }
    #responsive-menu-btn{
      margin-bottom: 0;
    }
  }
}

// Header.
.header-hero{
  padding: 6rem 0;
  position: relative;
  &:after{
    content: "";
    background: url(../img/bg/hero4.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.33;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
}
