/**
 * Author: Jordan Brauer <j.brauer@hotmail.com>
 * Date: 07/23/2016
 */

 @charset 'utf-8';

/* Logo sizing */
.logo{
  width: 256px;
  max-width: 256px;
  height: auto;
}

/* Consolas font family */
.ff-consolas {font-family: Consolas,monaco,monospace;}

/* Font sizes */
.fs-14{font-size: 14px;}

/* Margin buffers */
.buffer-reset-m{margin: 0;}
.buffer-t-m16{margin-top: 16px;}
.buffer-tb-m64{margin: 64px 0 64px 0;}

/* Padding buffers */
.buffer-reset-p{padding: 0;}

/* Plain list */
.list-plain{list-style-type: none;}
