{% extends '_layout' %}

{# Page Title #}
{% set title = 'Search' %}

{# Page Content #}
{% block content %}
  <div class="row column">
    <h1>Search</h1>

    {% include '_search' %}
  </div>
{% endblock %}
