{% extends "_layout" %}

{% if not title is defined %}
  {% set title = entry.title %}
{% endif %}

{% block content %}
  <div class="row column">
    <h1>{{ title }}</h1>

    <p>{{ entry.body }}</p>
  </div>
{% endblock %}
