li:focus {
  outline: none !important;
}

[data-sticky] {
  width: 100%;
}

@media screen and (max-width: 430px) {
  .pull-left-for-small-only {
    float: left !important;
  }
}
.header-hero {
  padding: 12rem 0;
  background: url(../img/bg/hero4.jpg) center center no-repeat;
  background-size: cover;
}

.multi-bar {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}
.multi-bar .top-bar:not(:last-child) {
  background: #efefef;
}

.top-bar {
  padding: 1.75rem;
  transition: all .2s ease;
}

.is-stuck .top-bar {
  padding: 0.75rem;
  transition: all .2s ease;
}
@media screen and (min-width: 40em) {
  .is-stuck .top-bar {
    padding-right: 84px;
    padding-left: 128px;
  }
}

#responsive-menu-toggle {
  background: #efefef;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}
#responsive-menu-toggle .top-bar-title {
  width: 100%;
}
#responsive-menu-toggle #responsive-menu-btn {
  margin-bottom: 0;
}
