{% autoescape %}
  <form action="{{ url('search/results') }}">
    <div class="input-group">
      <input type="search" name="q" class="input-group-field" placeholder="Search">
      <div class="input-group-button">
        <input type="submit" class="button" value="Search">
      </div>
    </div>
  </form>
{% endautoescape %}
